.awe-booking{
    #toggle-mobile-menu{
        display: none !important;
    }
    #header{
        #right-navigation{
            /*position: absolute;
            left: 90px;
            top: 50%;
            transform: translateY(-50%);*/
            ul{
                li{
                    &.li-become{
                        display: block !important;
                    }
                }
            }
        }
    }
    .hh-search-bar-wrapper{
        .hh-search-bar-buttons{
            .search-text{
                margin-bottom: 0;
                margin-right: 5px;
                position: relative;
                input[type="text"]{
                    max-width: 250px;
                    position: relative;
                    background: transparent;
                    height: auto;
                    line-height: 1;
                    text-indent: 0;
                    display: inline-block;
                    background: var(--white);
                    border: 1px solid #dce0e0;
                    border-radius: 3px;
                    padding: 6px 12px;
                    font-size: .9rem;
                    color: rgba(0, 0, 0, 0.75);
                    cursor: pointer;
                    margin-bottom: 0;
                    font-weight: 500;
                    min-width: 215px;
                }
                .fa{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #f1546c;
                    color: #fff;
                    height: 100%;
                    width: 35px;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 34px;
                    cursor: pointer;
                }
            }
        }
    }

    .experience-type-grid{
        .item{
            margin-bottom: 20px;
            .experience-title{
                border: 3px solid #000;
                padding: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                h4{
                    margin-top: 2px;
                    margin-bottom: 2px;
                    font-size: 16px;
                }
                p{
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
        }
    }
}

.awe-booking{
    .hh-search-bar-wrapper{
        .filter-mobile-box{
            .popup-filter-content{
                .filter-item{
                    .search-text{
                        margin-bottom: 0;
                        margin-right: 5px;
                        position: relative;
                        input[type="text"]{
                            position: relative;
                            background: transparent;
                            height: auto;
                            line-height: 1;
                            text-indent: 0;
                            display: inline-block;
                            background: var(--white);
                            border: 1px solid #dce0e0;
                            border-radius: 3px;
                            padding: 10px 12px;
                            font-size: .9rem;
                            color: rgba(0, 0, 0, 0.75);
                            cursor: pointer;
                            margin-bottom: 0;
                            font-weight: 500;
                            min-width: 215px;
                        }
                        .fa{
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: #f1546c;
                            color: #fff;
                            height: 100%;
                            width: 40px;
                            border-radius: 3px;
                            text-align: center;
                            line-height: 42px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
    .awe-booking{
        .hh-search-bar-wrapper{
            .hh-search-bar-buttons{
                .search-text{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 575px){
    .awe-booking{
        .experience-type-grid{
            .item{
                .experience-title{
                    h4{
                        font-size: 14px;
                        word-break: break-all;
                        line-height: 14px;
                    }
                    p{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px){
    .awe-booking{
        #toggle-mobile-menu{
            display: none !important;
        }
        #header{
            #right-navigation{
                /*position: absolute;
                left: 90px;
                top: 50%;
                transform: translateY(-50%);*/
                ul{
                    li{
                        &.li-become{
                            display: block !important;
                            .nav-item{
                                &.become-a-host{
                                    padding: 0 10px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
